*{
  box-sizing: border-box;
  
}

.App{
  max-width: 420px;
  margin: 0 auto;
  
}

p{
  text-align: center;
  font-weight: 500;
}

input[type=text], input[type=email], input[type=number], select{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit]{
  background-color:  #9ad3de;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover{
  background-color: #89bdd3;
}

.container{
  border-radius: 5px;
  background-color: #e3e3e3;
  padding: 20px;
}

t{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;  
}